<!DOCTYPE html>

<html>
    <head>
        <title>Cotações</title>
        <link rel="icon" href="/img/icon.png">
        <link rel="stylesheet" href="/css/style.css">
        
    </head>

    <body>
        <div class="main-content">
            {{> header}}

            <P>Procure por um ativo</P>

            <form>
                <input type="text" placeholder="Codigo do ativo">
                <button>Buscar</button>
            </form>
        </div>
        {{> footer}}
        <script src="/js/app.js"></script>
    </body>
</html>